@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.app{
    display: flex;
    flex-wrap: wrap;
}

@media(min-width: 770px){
    .app{
        height: 100vh;
    }
}

@media(min-width: 770px) and (max-height: 400px){
    .app{
        height: 600px;
    }
}
