@import '../Vars.scss';

.home{
    height: 100%;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;

    box-sizing: border-box;
}