.control-buttons{
    width: 100%;
    height: 70px;
    padding: 10px;

    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #4e89ae;
}

.control-buttons > button{
    padding: 10px;

    outline: none;
    border: none;
    border-radius: 10px;

    transition: .2s box-shadow;
}

.control-buttons > button > img{
    width: 25px;
}

.control-buttons__add-button{
    background-color: #9CCC65;
    box-shadow: 3px 3px #6B9B37;
}

.control-buttons__del-button{
    background-color: #D84315;
    box-shadow: 3px 3px #9F0000;
}

.control-buttons__add-button--selected{
    background-color: #6B9B37;
    box-shadow: none;
}

.control-buttons__del-button--selected{
    background-color: #9F0000;
    box-shadow: none;
}

@media(min-width: 770px){
    .control-buttons{
        width: 30%;
        height: 15%;
        order: 4;
    }

    .control-buttons > button > img{
        width: 30px;
    }
}