.polygon-list-box{
    width: 30%;
    height: 150px;
    padding: 10px;

    border: solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}