.polygon-box{
    width: 19%;
    height: 70px;
    padding: 5px;

    box-sizing: border-box;

    background-color: cornflowerblue;
}

.polygon-box__wrapper{
    width: 100%;
    height: 100%;

    position: relative;

    background-color: darkblue;
}