@import '../Vars.scss';


.frame{
    width: 65%;
    height: 420px;

    border: dotted;//<----

    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    width: 90%;
    height: 90%;

    background-color: yellow;
    position: relative;
}

//----------------------->
.path-dot{
    width: 20px;
    height: 20px;

    border-radius: 100%;

    background-color: blueviolet;

    position: absolute;
}
//<-------------------------