@import '../Vars.scss';

.header{
    width: 100%;
    height: $header-heigth;

    background-color: $main-color;
    box-sizing: border-box;

    display: flex;
}

.header__img{
    width: 50px;
    background-color: burlywood; //<--
    // margin-right: 10px;
}

.header__list{
    margin: 0;
    display: flex;
}

.header__list li{
    width: 100px;
    line-height: $header-heigth;
    // margin-left: 10px;

    background-color: $main-color-light;
    position: relative;

    text-align: center;
    cursor: pointer;
}

.underline{
    width: 0;
    height: 10px;

    display: inline-block;
    background-color: $main-color-dark;

    transition: .3s width;

    position: absolute;
    bottom: 0;
    left: 0;
}


.header__list li:hover .underline{
    width: 100%;
}