@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$header-heigth: 60px;
$footer-heigth: 30px;

$main-color: #ffa726;
$main-color-light: #ffd95b;
$main-color-dark: #c77800;

$secondary-color: #66bb6a;
$secondary-color-light: #98ee99;
$secondary-color-dark: #338a3e;

$text-color-base: #000;
$text-color-in-light: #1b1b1b;
$text-color-in-dark: #f5f5f5;